@font-face {
  font-family: amaticBold;
  src: url(./fonts/AmaticSC-Bold.ttf);
}

.App {
  text-align: center;
  background-color: #000011;
  height: 100%;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.word-box {
  height: 50%;
  overflow-y: auto;
  font-family: amaticBold;
  font-size: 2rem;
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.word-box > div {
  width: 50%;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: aliceblue;
}

.word {
  font-size: 4rem;
  font-size: 5vh;
  text-decoration: underline;
}

.word-def {
  height: 50%;
  font-size: 2rem;
  font-size: 3.2vh;
}

button {
  justify-self: flex-end;
  margin-top: 3vh;

  font-family: initial
}

select {

  font-family: initial
}

.dropdown-option {
  margin-top: 3vh;
  text-align: center;
  font-size: 1.5rem;
  font-size: 2vh;
  background-color: #000011;
  color: white;
  border-color: aqua;
  border-radius: 5px;
}

.tooltip {
  background-color: aqua;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  margin-right: auto;
  font-family: amaticBold;
  font-size: 1.5rem;
}

.tooltip-text {
  background-color: hsla(0, 0%, 100%, 0.9);
  border-radius: 20px;
  padding: 1rem;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  transition: all;
  max-width: 200px;
  width: 200px;
  font-family: initial;
  font-size: 1rem;
  font-size: 3vh;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  top: -5px;
  left: 30px;
}

.mobile-tooltip-toggle {
  visibility: visible;
  top: -5px;
  left: 30px;
}
