@font-face {
  font-family: amaticBold;
  src: url(./fonts/AmaticSC-Bold.ttf);
}

.App {
  text-align: center;
  background-color: #000011;
  height: 100%;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.word-box {
  height: 80%;
  overflow-y: auto;
  font-family: amaticBold;
  font-size: 2rem;
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.word-box > div {
  width: 50%;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: aliceblue;
}

.word {
  font-size: 4rem;
  font-size: 5vh;
  text-decoration: underline;
}

.word-def {
  height: 80%;
  font-size: 2rem;
  font-size: 3.2vh;
}

button {
  justify-self: flex-end;
  margin-top: 3vh;
}

.dropdown-option {
  margin-top: 3vh;
  text-align: center;
  font-size: 1.5rem;
  font-size: 2vh;
  background-color: #000011;
  color: white;
  border-color: aqua;
  border-radius: 5px;
}
